body {
  position: relative;
  padding: 20px;

  > .main-wrap {
    position: relative;
    padding: 15px 15px 10px 15px;
    border: 1px solid lightgrey;
    height: calc(100vh - 100px);

    > .mainCanvas {
      width: 80%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
    }
  }

  > button {
    position: absolute;
    display: none;
    bottom: 50px;
    padding: 20px 0;
    width: 20%;
    min-width: 100px;
    font-size: 1em;
    font-weight: 600;
    right: 50px;

    &.js-active {
      display: block;
    }
  }
}
