body {
  position: relative;
  padding: 20px;

  > .main-wrap {
    position: relative;
    padding: 15px 15px 10px 15px;
    border: 1px solid lightgrey;
    height: calc(100vh - 100px);

    > .elem {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
    }
  }

  > button {
    position: absolute;
    bottom: 50px;
    padding: 40px;
    font-size: 2em;
    font-weight: 600;
    opacity: 0;
    right: 50px;

    &.js-active {
      opacity: 1;

    }

  }
}
